# игнорируемые дирректории
*build
*.vs
*out

# по умолчанию все файлы игнорируются
*.*

# учёт файлов git
!README.txt
!.gitignore

# учитываем только файлы из которых можно востановить проект
!*.cpp
!*.hpp
!*.sh
!CMakeLists.txt